<ion-content>
  <ion-grid class="conteudo ion-no-padding">
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      [hidden]="emFoco"
      (dblclick)="showVersion()"
    >
      <ion-col
        size-xs="8"
        size-sm="8"
        size-md="7"
        size-lg="6"
        size-xl="4"
        class="ion-no-padding"
      >
        <img
          alt="logo-fc"
          class="imgHeader"
          src="/assets/images/01-logo/logo_branca.png"
        />
      </ion-col>

      <ion-col size="12">
        <ion-row class="ion-justify-content-center">
          <ion-label color="light"> {{ appName }} </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="9.6" class="loginFormSection">
        <form #f="ngForm" (ngSubmit)="entrar(f.value)">
          <ion-row class="userImgRow ion-margin-top" [hidden]="emFoco">
            <ion-col *ngIf="!isLoggedIn" size="12" class="ion-no-padding ion-text-center">
              <img alt="cliente-img" src="assets/images/02-login/idcliente.png" />
              <h4>Login</h4>
            </ion-col>

            <ion-col *ngIf="isLoggedIn" size="12" class="ion-no-padding ion-text-center">
              <div *ngIf="!noPhoto">
                <img alt="cliente-img" src="data:image/jpeg;base64,{{ foto }}" />
              </div>

              <div *ngIf="noPhoto">
                <img alt="cliente-img" src="assets/images/02-login/idcliente.png" />
              </div>

              <h4>{{ usuarioLogado }}</h4>
            </ion-col>
          </ion-row>

          <ion-row class="inputField ion-align-items-center" [hidden]="isLoggedIn">
            <label>Usuário</label>
            <ion-col size="12" class="ion-text-start">
              <ion-input
                name="login"
                type="text"
                required
                color="light"
                placeholder="Login"
                class="ion-text-uppercase"
                (keyup.enter)="inputS.setFocus()"
                [ngModel]="loginData.login"
                (ionFocus)="inFoco(true)"
                (ionBlur)="inFoco(false)"
              >
                <ion-icon name="person-outline"></ion-icon>
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="inputField ion-align-items-center ion-margin-top">
            <label>Senha</label>
            <ion-col size="12" class="ion-text-start">
              <ion-input
                name="senha"
                type="password"
                required
                color="light"
                placeholder="Senha"
                class="ion-text-uppercase"
                #inputS
                [ngModel]="loginData.senha"
                (ionFocus)="inFoco(true)"
                (ionBlur)="inFoco(false)"
                (keyup.enter)="entrar(f.value)"
              >
                <ion-icon name="lock-closed-outline"></ion-icon>
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-no-padding">
              <app-form-error
                [showError]="!f.valid"
                errorMessage="Preencha todos os campos!"
                [colorWhite]="true"
              ></app-form-error>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-button
              color="light"
              class="loginBtn"
              [disabled]="disableLoginBtn || !f.valid"
              type="submit"
            >
              Entrar
            </ion-button>
          </ion-row>

          <ion-row [hidden]="!isLoggedIn">
            <ion-col class="notauser">
              <a (click)="logout()" class="ion-text-underscore"
                >Não é {{ usuarioLogado }} ?
              </a>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
