.menuItem {
    border-bottom: 1px solid #f4f4f4;
}

img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
    max-width: 70px !important;
    max-height: 70px !important;
    overflow: hidden !important;
    border: 0.2rem solid #f4f4f4 !important;
}