
.listaProdutos {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;

    .produto {
        width: 100%;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 1px 2px 5px 0  rgba(0, 0, 0, 0.4);
        margin-bottom: 10px;
        ion-item {
            --inner-padding-end: none !important;
        }
        .produtoRow {
            min-height: 100px !important;
            width: 100%;
            .produtoImage {
                margin: auto 0;
                text-align: center;
                img {
                    width: 100% !important;
                    height: 100% !important;
                    max-width: 100px !important;
                    max-height: 100px !important;
                    vertical-align: middle;
                    margin: auto;
                }
            }
            .produtoInformacao {
                margin: auto 0;
                .produtoDescri {
                    color: #808080;
                    font-size: 15px;
                    font-weight: 400;
                    white-space: normal;
                }
                .produtoPreco {
                    font-size: 16px;
                    color: red;
                    font-weight: bold;
                    padding: 0;
                }
                .produtoPrecoUnidade {
                    color: #4d4d4d;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .produtoQuantidade {
                // margin: auto 0;
                background-color: #f4f4f4;
                border-left: 2px solid rgba(0, 0, 0, 0.1);
                ion-row {
                    background-color: #f4f4f4;
                }
                ion-button {
                    width: 100% !important;
                    --background: transparent !important;
                    --border-color: transparent !important;
                    --border-width: 0 !important;
                }
                .quantidadeTop {
                    height: 33% !important;
                }
                .quantidadeCenter {
                    border-bottom: none;
                    border-top: none;
                    font-size: 18px;
                    font-weight: bold;
                    padding: 5px 0;
                    height: 34% !important;
                }
                .quantidadeBottom {
                    height: 33% !important;
                }
            }
        }
    }
}

